<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UESTC查询哪些教室空闲</title>
    <meta name="referrer" content="no-referrer">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>


<body>
    <!-- 查询教室是否可用 -->
    <!-- <b>条件筛选</b> -->
    <div id="classroom">

        <div id="classroom">
            <div style="text-align:center;">
                <h1>UESTC查询哪些教室空闲V0.7</h1>
                <div>项目地址：<el-link href="https://github.com/jjq419875574/uestc-available-room" target="_blank"
                        type="primary">Github</el-link>
                    <span></span><el-tag size="mini">已开源</el-tag>
                </div>
            </div>
            <hr>
            <div v-show="canSeach">
                <div style="margin-left: 10px;">
                    <el-form label-width="100px">
                        <el-steps :active="3" finish-status="process" simple>
                            <el-step title="填写信息"></el-step>
                            <el-step title="点击查询"></el-step>
                            <el-step title="得到结果"></el-step>
                        </el-steps>
                        <el-divider content-position="left"><i class="el-icon-position"></i>地点选择</el-divider>
                        <div style="font-size: 13px;color: #adb5bd;margin-left:20px;margin-bottom: 10px;">
                            部分网页支持自动定位,目前支持教学楼级别定位，距离教学楼较远采用校区级别定位,默认位置为沙河二教和清水河品学楼。<br />chrome/部分手机浏览器因为谷歌原因<b>可能不支持任何定位</b>（可参考
                            <el-link href="https://developer.chrome.com/blog/geolocation-on-secure-contexts-only/"
                                target="_blank">这篇文章</el-link>）,但edge/safari/飞书内置浏览器等非谷歌内核浏览器仍然有效。<br />
                            对于无法使用定位的情况，将默认使用缓存存储的上一次查询的教学楼名称
                        </div>
                        <el-form-item label="教学楼">
                            <!-- <el-input v-model="building_name"></el-input> -->
                            <el-cascader :options="options" :show-all-levels="true" v-model="building_name"
                                @change="position_has_change=true"></el-cascader>

                            <span v-show='position_has_change==false&&position_has_finish==0'
                                style="color:#4dabf7;margin-left:10px"><i class="el-icon-loading"></i>定位中,请稍等</span>
                            <span v-show='position_has_change==false&&position_has_finish==-1'
                                style="color:#ffc9c9;margin-left:10px"><i
                                    class="el-icon-circle-close"></i>自动定位失败或不支持,请手动输入</span>
                            <span v-show='position_has_change==false&&position_has_finish==1'
                                style="color:#12b886;margin-left:10px"><i class="el-icon-circle-check
                            "></i>已自动拉取定位</span>
                        </el-form-item>
                        <el-form-item v-if="areas.show">

                            <template slot="label">
                                区位选择
                                <el-popover placement="top-start" title="" width="200" trigger="hover"
                                    content="在清水河校区立人楼、品学楼、经管楼，会有以A、B、C标识的房间，为了更好的筛选这类房间，支持进行筛选">
                                    <i class="el-icon-warning-outline" slot="reference"></i>

                                </el-popover>
                            </template>
                            <div style="display: flex;">
                                <el-checkbox-group v-model="checkedArea">
                                    <el-checkbox v-for="AREA in areas.options" :label="AREA"
                                        :key="AREA">{{building_name[1]+AREA+'区'}}</el-checkbox>
                                </el-checkbox-group>
                            </div>
                        </el-form-item>
                        <el-form-item v-else="areas.show">
                            <template slot="label">
                                区位选择
                                <el-popover placement="top-start" title="" width="200" trigger="hover"
                                    content="在清水河校区立人楼、品学楼、经管楼，会有以A、B、C标识的房间，为了更好的筛选这类房间，支持进行筛选">
                                    <i class="el-icon-warning-outline" slot="reference"></i>

                                </el-popover>
                            </template>
                            <div style="color:#ced4da ;">区位选择仅在清水河校区品学楼、立人楼、经管楼使用</div>
                        </el-form-item>
                        <el-form-item v-if="floor.show">

                            <template slot="label">
                                楼层选择
                                <el-popover placement="top-start" title="" width="200" trigger="hover"
                                    content="少部分楼栋不支持，若楼栋可分区，不同分区可查询的楼层不一定相同（如经管楼B区只可查询2、3楼）">
                                    <i class="el-icon-warning-outline" slot="reference"></i>

                                </el-popover>
                            </template>
                            <div style="display: flex;">
                                <el-checkbox-group v-model="checkedFloor">
                                    <el-checkbox v-for="Floor in floor.options" :label="Floor"
                                        :key="Floor">{{building_name[1]+Floor+'楼'}}</el-checkbox>
                                </el-checkbox-group>
                            </div>
                        </el-form-item>
                        <el-form-item v-else="areas.show">
                            <template slot="label">
                                楼层选择
                                <el-popover placement="top-start" title="" width="200" trigger="hover"
                                    content="少部分楼栋不支持，若楼栋可分区，不同分区可查询的楼层不一定相同（如经管楼B区只可查询2、3楼）">
                                    <i class="el-icon-warning-outline" slot="reference"></i>

                                </el-popover>
                            </template>
                            <div style="color:#ced4da ;">楼层选择仅在部分楼栋使用</div>
                        </el-form-item>




                        <el-divider content-position="left"><i class="el-icon-date"></i>日期选择</el-divider>
                        <div style="font-size: 13px;color: #adb5bd;margin-left:20px;"><b>星期几+第几周</b> 或者 <b>日期</b>
                            只需填写任意一组，另一组会自动匹配。默认填写今日的
                        </div>
                        <div style="color:red" v-show="isPreTime">
                            当前非第一周，但可供提前查询（只能通过教学周周数和星期几查询），日期查询暂不可用（开学第一周周一当天可用）</div>
                        <br /><el-row :gutter="20" type="flex" style="flex-wrap: wrap;">
                            <el-col :span="10">
                                <div class="grid-content bg-purple"></div><el-form-item label="第几周">
                                    <!-- <el-input v-model="week"></el-input> -->
                                    <el-input-number v-model="week" :min="1" :max="25"
                                        @change="week_xqj_change(1)"></el-input-number>
                                </el-form-item>
                                <el-form-item label="星期几">
                                    <!-- <el-input v-model="xqj"></el-input> -->
                                    <el-input-number v-model="xqj" :min="1" :max="7"
                                        @change="week_xqj_change(1)"></el-input-number>
                                </el-form-item>
                            </el-col>
                            <el-col :span="100">

                                <div class="grid-content bg-purple">

                                    <el-form-item label="日期">
                                        <el-date-picker v-model="isPreTime?{}:pickDate" type="date" placeholder="选择日期"
                                            :picker-options="pickerDateOptions" @change="week_xqj_change(2)"
                                            :clearable="false" disabled="isPreTime">
                                        </el-date-picker>
                                    </el-form-item>
                                </div>
                            </el-col>
                        </el-row>

                        <el-divider content-position="left"><i class="el-icon-time"></i>时间选择</el-divider>
                        <div style="font-size: 13px;color: #adb5bd;margin-left:20px;margin-bottom: 10px;">
                            输入空闲的时段自动查找匹配教室，开始节次需要小于结束节次，其标识空闲教室从<b>第x节次上课时</b>开始至<b>第y节次下课时</b>均无人。
                            <el-popover placement="top-start" title="节次时间表" width="200" trigger="hover">
                                <div v-for="o in time_calendar">
                                    <div style="color:#adb5bd" v-show="o.val<jieci_Next-1">第{{o.val}}节&nbsp;&nbsp;
                                        {{o.startTime}}~{{o.endTime}}</div>
                                    <div v-show="o.val>=jieci_Next-1">第{{o.val}}节&nbsp;&nbsp;
                                        {{o.startTime}}~{{o.endTime}}</div>
                                </div>
                                <el-link type="primary" slot="reference">查看节次时间表</el-link>
                            </el-popover>
                        </div>
                        <el-form-item label="开始节次">


                            <!-- <el-input v-model="start"></el-input> -->
                            <el-input-number v-model="start" :min="1" :max="end"></el-input-number>
                        </el-form-item>
                        <el-form-item label="结束节次">
                            <!-- <el-input v-model="end"></el-input> -->
                            <el-input-number v-model="end" :min="start" :max="12"></el-input-number>
                        </el-form-item>
                        <el-checkbox v-model="canLocalstorage" size="mini"
                            style="margin-left:100px;margin-bottom: 10px;">
                            启用缓存记录上次查询教学楼
                            <el-popover placement="top-start" title="缓存干啥？" width="200" trigger="hover"
                                content="因为chrome内核浏览器不支持定位服务，因此可以启动缓存功能，记录上一次点击查询的教学楼名称，以方便下一次查询。如果您的浏览器支持定位,开启后无影响，定位后仍然默认为定位位置">
                                <i class="el-icon-question" slot="reference"></i>
                            </el-popover>
                        </el-checkbox>
                        <el-form-item>
                            <el-button type="primary" @click="find_available_classroom()"
                                :loading="search_has_finish==2" style="margin-top:10px">查询可用教室</el-button>
                            <!-- <el-button type="danger" plain v-show="search_percentage>0" @click="clear_()">清空查询</el-button> -->
                            <el-button type="warning" round icon="el-icon-remove-outline" @click="stopNow()"
                                v-show="search_has_finish==2" style="margin-top:10px">终止查询</el-button>
                            <el-button type="danger" plain v-show="search_has_finish==1||search_has_finish==3"
                                @click="clear_()" style="margin-top:10px">清空查询结果</el-button>

                        </el-form-item>

                    </el-form>
                </div>

                <!-- 可用教室列表 -->
                <el-card v-if="available.length >= 0" style="width:80%;margin:0 auto;">
                    <div slot="header" style="display: flex;justify-content: space-between;flex-wrap: wrap;">
                        <div style="font-weight: bold;">可用教室列表：</div>
                        <div>
                            <div style="display: inline-block;float: left;font-size:14px">查询进度 &nbsp;</div>
                            <div style="display: inline-block;float: right;min-width:250px">
                                <el-progress :text-inside="true" :stroke-width="22" :percentage="search_percentage"
                                    :color="percentagecustomColors" status="warning"></el-progress>
                            </div>
                        </div>

                    </div>
                    <div>
                        <span v-if="available.length==0&& search_percentage<=0" style="color:#ff6b6b">请输入信息后点击查询</span>
                        <span v-else-if="search_percentage>0&& search_percentage<100&&search_has_finish!=3"
                            style="color:#2862d6" style="margin-bottom: 10px;"><i
                                class="el-icon-loading"></i>查询内容较多，请稍等</span>
                        <el-alert v-else-if="search_has_finish==3" :title="'查询被终止,目前共查询到'+available.length+'个教室'"
                            type="warning" show-icon :closable="false">
                        </el-alert><br v-else-if="search_has_finish==3" />
                        <el-alert v-if="search_has_finish==1" :title="'查询成功,共查询到'+available.length+'个教室'" type="success"
                            show-icon :closable="false">
                        </el-alert><br />
                        <!-- 提示 -->



                        <span v-for="room in available" :key="room"> &nbsp;{{ room }}&nbsp; </span>

                        <el-empty v-if="(search_has_finish==1) && available.length==0 "
                            description="'您的筛选条件下暂无空闲教室"></el-empty>
                        <el-empty v-else-if="(search_has_finish==3) && available.length==0 "
                            description="您中断了查询，在已经查询的教室中，您的筛选条件下暂无空闲教室"></el-empty>
                    </div>
                </el-card>
            </div>
            <div v-show="!canSeach">
                <el-alert title="暂停服务" type="warning" description="现在已经到了节假日，本服务暂停，开学当天（周一）会恢复。" show-icon center
                    :closable="false">
                </el-alert>
            </div>
        </div>



    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script> -->
    <script src="./vue.min.js"></script>
    <!-- 官网提供的 axios 在线地址 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入element组件 -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 自己的js -->
    <script>
        var classroom = new Vue({
            el: '#classroom',
            data: {
                class_list: [],
                classroom_id: '',
                week: 4,
                section: '',
                xqj: 1,
                classroom_is_available: '',
                start: 9,
                end: 10,
                building: [],
                available: [],
                building_name: ['沙河', '二教'],
                options: [{
                    value: '清水河',
                    label: '清水河校区',
                    children: [{ value: '品学楼', label: '品学楼' }, { value: '立人楼', label: '立人楼' }, { value: '经管楼', label: '经管楼' }, { value: '学生发展中心', label: '学生发展中心' }, { value: '主楼', label: '清水河主楼' }]
                }, {
                    value: '沙河',
                    label: '沙河校区',
                    children: [{ value: '二教', label: '二教' }, { value: '四教', label: '四教' }, { value: '主楼', label: '沙河主楼' },]
                }],

                //教学区域选择
                checkedArea: [],
                checkedFloor: [],

                //第二选择
                startMon: '',
                pickDate: '',
                canLocalstorage: true,


                position_has_change: false,
                position_has_finish: 0,


                time_calendar: [{
                    val: 1,
                    startTime: '8:30',
                    endTime: '9:15'
                }, {
                    val: 2,
                    startTime: '9:20',
                    endTime: '10:05'
                }, {
                    val: 3,
                    startTime: '10:20',
                    endTime: '11:05'
                }, {
                    val: 4,
                    startTime: '11:10',
                    endTime: '11:55'
                }, {
                    val: 5,
                    startTime: '14:30',
                    endTime: '15:15'
                }, {
                    val: 6,
                    startTime: '15:20',
                    endTime: '16:05'
                }, {
                    val: 7,
                    startTime: '16:20',
                    endTime: '17:05'
                }, {
                    val: 8,
                    startTime: '17:10',
                    endTime: '17:55'
                }, {
                    val: 9,
                    startTime: '19:30',
                    endTime: '20:15'
                }, {
                    val: 10,
                    startTime: '20:20',
                    endTime: '21:05'
                }, {
                    val: 11,
                    startTime: '21:10',
                    endTime: '21:55'
                }, {
                    val: 12,
                    startTime: '22:00',
                    endTime: '22:45'
                }],
                jieci_Next: 0,


                //进度条
                search_percentage: 0,
                search_has_finish: 0,//0 未开始；1结束；2进行中
                percentagecustomColors: [
                    { color: '#ffc9c9', percentage: 25 },
                    { color: '#fcc2d7', percentage: 50 },
                    { color: '#ffd8a8', percentage: 75 },
                    { color: '#ffe066', percentage: 95 },
                    { color: '#96f2d7', percentage: 100 }
                ],


                //允许查询？
                canSeach: true,
                isPreTime: false,
                //是否开启了提前查询，信息中心可能提前一周开始查询。此时视为提前查询。日期选项可能不作数。
            },
            created() {


                // 从 localStorage 中获取保存的 JSON 字符串
                var jsonArray = localStorage.getItem("uestcFindAvailableBuilding");
                if (jsonArray != null) {
                    this.building_name = JSON.parse(jsonArray);
                }
                this.get_Thisweek();
                //获取当前星期几
                this.get_xqj();
                this.getlocation();

                setTimeout(() => {
                    if (this.pickerDateOptions.disabledDate(new Date(), this)) {
                        //如果今天在查询范围之外
                        this.canSeach = false;
                        return;
                    }
                    console.info(">>🌼第一周开始日期：", this.startMon, "若当前是第0周，则此数据不准确")
                    this.TimeNow();
                }, 5);


            },
            computed: {
                //第二选择
                pickerDateOptions() {
                    let that_ = this;
                    return {
                        disabledDate(time, that = that_) {
                            const currentDate = new Date();
                            const currentYear = currentDate.getFullYear();
                            const currentMonth = currentDate.getMonth() + 1;
                            const currentDay = currentDate.getDate();
                            const startDate = new Date(that.startMon);

                            const endDate = new Date(startDate.getTime() + ((25 * 7 - 1) * 24 * 60 * 60 * 1000)); // 将日期向后推进 25 周
                            return time.getTime() < startDate || time.getTime() > endDate;
                        },


                    }
                },
                areas() {
                    let building = this.building_name[1];
                    let show = false;
                    let option = []

                    if (building.includes("品学楼") || building.includes("立人楼") || building.includes("经管楼")) {
                        show = true;
                        if (building.includes("立人楼")) {
                            option = ['A', 'B'];
                            this.checkedArea = ['A', 'B'];
                        } else {
                            option = ['A', 'B', 'C'];
                            this.checkedArea = ['A', 'B', 'C'];
                        }
                    } else {
                        show = false;
                    }
                    return { options: option, show: show }


                },
                floor() {
                    let building = this.building_name[1];
                    let xiaoqu = this.building_name[0];
                    let show = false;
                    let option = []

                    if (building.includes("学生发展中心")) {
                        show = true;
                        option = ['1', '2']
                        this.checkedFloor = option;
                    } else if (building.includes("经管楼")) {
                        show = true;
                        option = ['2', '3']

                        if (this.checkedArea.includes('C')) {
                            option.push('5');
                            if (!option.includes('1')) {
                                option.push('1');
                            }
                        }
                        if (this.checkedArea.includes('A')) {
                            option.push('4');
                            if (!option.includes('1')) {
                                option.push('1');
                            }
                        }
                        option.sort();

                        //A:1\2\3\4
                        //B:2\3
                        //C:1\2\3\5

                        this.checkedFloor = option;
                    } else if (building.includes('品学楼') || building.includes('立人楼')) {
                        show = true;
                        option = ['1', '2', '3', '4'];
                        if (this.checkedArea.includes('C')) {
                            option.push('5');

                        }
                        this.checkedFloor = option;
                    } else if (building.includes('主楼') && xiaoqu == '清水河') {
                        show = true;
                        option = ['1', '5', '7', '8'];
                        this.checkedFloor = option;
                    } else if (building.includes('四教')) {
                        show = true;
                        option = ['1', '2', '3'];
                        this.checkedFloor = option;
                    }
                    else if (building.includes('二教')) {
                        show = true;
                        option = ['1', '2', '3', '4'];
                        this.checkedFloor = option;
                    } else if (building.includes('主楼') && xiaoqu == '沙河') {
                        show = true;
                        option = ['1', '2', '3', '4', '5'];
                        this.checkedFloor = option;
                    }
                    else {
                        show = false;
                    }
                    return { options: option, show: show }


                }
            },
            methods: {

                async allClassroom() {
                    let that = this;
                    return new Promise((resolve, reject) => {
                        axios({
                            url: 'https://studyapi.uestc.edu.cn/api/pub/exp/school/data',
                            method: 'post',
                            data: { "type": "allclassroom", "data": [{}] },
                            timeout: 1000,
                            headers: 'Content-Type: application/json'
                        }).then(function (response) {
                            that.class_list = response.data.data;
                            resolve(that.class_list)
                        }).catch(function (error) {
                            reject();
                        })
                    })


                },
                async searchClassroom() {
                    var that = this;
                    return new Promise((resolve, reject) => {
                        axios({
                            url: 'https://studyapi.uestc.edu.cn/api/pub/exp/school/data',
                            method: 'post',
                            data: { "type": "thisweek_courseschedule", "data": [{ "room_name": that.classroom_id, "qqdjz": that.week }] },
                            timeout: 1000,
                            headers: 'Content-Type: application/json'
                        }).then(function (response) {
                            resolve(response)
                        }).catch(function (err) {
                            console.log(err);
                        })
                    })



                },


                //查询所有二教的可用教室
                async search_special_building() {
                    var that = this;
                    that.building = [];
                    let cleaned_building_name = that.building_name[1];
                    let school_area = that.building_name[0]

                    return new Promise(function (resolve, reject) {  //promise 创建resolve和reject函数 用于回调函数的两
                        // var i=0;
                        axios({
                            url: 'https://studyapi.uestc.edu.cn/api/pub/exp/school/data',
                            method: 'post',
                            data: { "type": "allclassroom", "data": [{}] },
                            // timeout: 1000,
                            headers: 'Content-Type: application/json',
                            async: false,
                        }).then(function (response) {

                            for (var k = 0; k < that.class_list.length; k++) {
                                if (that.class_list[k].building == cleaned_building_name && that.class_list[k].school == school_area) {
                                    that.building.push(that.class_list[k]);
                                }//从索引 1 开始截取字符串)
                            }//查找需要查找的所有教室列表并且存入building数组中
                            // console.log(that.building[0]);
                            // that.$options.methods.find_available_classroom();

                            console.log(that.building);
                            resolve(that.building)

                        }
                        ).catch(function (err) {
                            console.log(err);
                        }
                        )
                    })
                },


                matchStrings(prex, str) {

                    var remainingStr = str.substring(prex.length);



                    var firstChar = remainingStr.charAt(0);
                    var secondChar = remainingStr.charAt(1);

                    return this.checkedArea.includes(firstChar) && this.checkedFloor.includes(secondChar);
                },
                checkFrom() {
                    if (this.areas.show && this.checkedArea.length == 0) {
                        this.$notify.error({
                            title: '错误',
                            message: '区位选择必须选择至少一个'
                        });
                        return false;
                    } else if (this.floor.show && this.checkedFloor.length == 0) {

                        this.$notify.error({
                            title: '错误',
                            message: '楼层选择必须选择至少一个'
                        });
                        return false;
                    }
                    return true;

                },
                async find_available_classroom() {
                    if (!this.checkFrom()) {
                        return
                    }

                    // 将 JSON 字符串保存到 localStorage 中的名为 "myArray" 的键中
                    if (this.canLocalstorage) {
                        let jsonArray = JSON.stringify(this.building_name);
                        localStorage.setItem("uestcFindAvailableBuilding", jsonArray);
                    }
                    else {
                        localStorage.clear();
                    }


                    this.available = [];
                    this.search_has_finish = 2;
                    this.search_percentage = 0;
                    await this.allClassroom();
                    await this.search_special_building();
                    var that = this;
                    let room_num = that.building.length;
                    for (i = 0; i < that.building.length; i++) {
                        if (this.search_has_finish == 3) {
                            break;
                        }
                        //使得axio调用后再执行for
                        var that = this;
                        var tmp_room_name = that.building[i].building + that.building[i].room_name;
                        // console.log(that.building[0]);
                        // console.log(tmp_room_name);

                        if (this.areas.show == true && this.floor.show == true) {

                            // if (!this.checkedArea.some(function (area) {
                            //     let matchstr = that.building_name[1] + area
                            //     return tmp_room_name.includes(matchstr);
                            // })) {
                            //     that.search_percentage = Math.floor(((i + 1) / room_num * 100) * 100) / 100;
                            //     if (that.search_percentage == 100) {
                            //         that.search_has_finish = 1
                            //     }
                            //     continue;
                            // } else if ()
                            if (!this.matchStrings(that.building_name[1], tmp_room_name)) {
                                that.search_percentage = Math.floor(((i + 1) / room_num * 100) * 100) / 100;
                                if (that.search_percentage == 100) {
                                    that.search_has_finish = 1
                                }
                                continue;
                            }
                        } else if (this.floor.show == true) {
                            if (!this.checkedFloor.some(function (area) {
                                let matchstr = that.building_name[1] + area
                                return tmp_room_name.includes(matchstr);
                            })) {
                                that.search_percentage = Math.floor(((i + 1) / room_num * 100) * 100) / 100;
                                if (that.search_percentage == 100) {
                                    that.search_has_finish = 1
                                }
                                continue;
                            }
                        }
                        await axios({
                            url: 'https://studyapi.uestc.edu.cn/api/pub/exp/school/data',
                            method: 'post',
                            data: { "type": "thisweek_courseschedule", "data": [{ "room_name": that.building[i].building + that.building[i].room_name, "qqdjz": that.week }] },

                            // timeout: 1000,
                            headers: 'Content-Type: application/json',
                            saync: false,
                        }).then(function (response) {
                            console.log(response.data.data);
                            that.search_percentage = Math.floor(((i + 1) / room_num * 100) * 100) / 100;

                            var is_avail = true;

                            for (var j = 0; j < response.data.data.length; j++) {
                                // console.log(response.data.data[j].ksjc);
                                // console.log(that.end);
                                // console.log(response.data.data[j].ksjc >= that.end || response.data.data[j].jsjc <= that.start);
                                let [s, e] = response.data.data[j].kksd.split('-').map(Number);
                                if (that.search_has_finish == 3) {
                                    is_avail = false;
                                    break;
                                }
                                if (response.data.data[j].xqj == that.xqj && that.week >= s && (that.week <= e || e == undefined) && !(response.data.data[j].jsjc <= that.start || response.data.data[j].ksjc >= that.end)) {
                                    is_avail = false;

                                }

                                else {
                                    continue;
                                }

                            }
                            if (is_avail) {
                                that.available.push(tmp_room_name);
                                console.log(tmp_room_name);
                            }
                            if (this.search_has_finish == 3) {
                                return;
                            }
                            if (that.search_percentage == 100) {
                                that.search_has_finish = 1
                            }






                        }).catch(function (err) {
                            console.log(err);
                        })


                    }//将所有教室名字存入available数组中
                },

                // 获取第几周
                get_Thisweek: function () {
                    var that = this;
                    axios({
                        url: 'https://studyapi.uestc.edu.cn/ckd/getWeek',
                        method: 'get',
                        timeout: 1000,

                    }).then(function (response) {
                        that.week = response.data;
                        if (that.week < 0) {
                            that.week = 1;
                            that.isPreTime = true;
                        }
                        that.startMon = that.getPreviousWeekDateAndNextMonday(new Date(), that.week);
                        // console.log(that.week);
                    }).catch(function (error) {
                        console.log(error);
                    })

                },
                // 获取星期几
                get_xqj() {
                    //用js获取星期几
                    var now = new Date();
                    var day = now.getDay();
                    var weeks = new Array("7", "1", "2", "3", "4", "5", "6");
                    var week = weeks[day];
                    this.xqj = parseInt(week);
                    this.pickDate = new Date()

                },


                //清空查询
                clear_() {

                    this.search_percentage = 0;
                    this.search_has_finish = 0;
                    this.available = [];
                    this.$notify({
                        title: '成功',
                        message: '已经清空查询结果',
                        type: 'success'
                    });

                },



                /**
                 * @description: 获取第一周的星期一的日期
                 * @param {*} date：当前日期
                 * @param {*} x：当前第几周
                 * @return {*}
                 */
                getPreviousWeekDateAndNextMonday(date, x) {
                    var currentDate = new Date(date.getTime());
                    var previousWeekDate = new Date(currentDate.getTime() - (x * 7 * 24 * 60 * 60 * 1000));

                    var year = previousWeekDate.getFullYear();
                    var month = previousWeekDate.getMonth() + 1;
                    var day = previousWeekDate.getDate();

                    var previousWeekDateString = year + '-' + month + '-' + day;

                    var nextMondayDate = new Date(previousWeekDate);
                    if (nextMondayDate.getDay() == 0) {
                        nextMondayDate.setDate(nextMondayDate.getDate() - nextMondayDate.getDay() + 1);
                    }
                    else {
                        nextMondayDate.setDate(nextMondayDate.getDate() - nextMondayDate.getDay() + 1 + 7);
                    }


                    var nextMondayYear = nextMondayDate.getFullYear();
                    var nextMondayMonth = nextMondayDate.getMonth() + 1;
                    var nextMondayDay = nextMondayDate.getDate();

                    var nextMondayString = nextMondayYear + '-' + nextMondayMonth + '-' + nextMondayDay;

                    return nextMondayString;
                },

                week_xqj_change(flag) {
                    if (this.week == null || this.xqj == null) {
                        return;
                    }
                    else if (flag == 1) {
                        const startDate = new Date(this.startMon); // 转换为Date对象
                        const targetDate = new Date(startDate.getTime() + (this.week - 1) * 7 * 24 * 60 * 60 * 1000); // 计算目标日期

                        // 调整目标日期为对应的星期几
                        targetDate.setDate(targetDate.getDate() + (this.xqj - targetDate.getDay() + 7) % 7);

                        const year = targetDate.getFullYear();
                        const month = targetDate.getMonth() + 1;
                        const day = targetDate.getDate();

                        this.pickDate = `${year}-${month}-${day}`;
                    }
                    else {
                        const startDate = new Date(this.startMon); // 转换为Date对象
                        const targetDate = new Date(this.pickDate); // 转换为Date对象
                        targetDate.setHours(0, 0, 0);
                        const timeDiff = targetDate.getTime() - startDate.getTime(); // 计算选定日期与第一周的时间差
                        // console.warn(targetDate)
                        this.week = Math.ceil(timeDiff / (7 * 24 * 60 * 60 * 1000)) + 1; // 计算对应的周数
                        const xqj_tmp = targetDate.getDay(); // 获取选定日期是星期几（0表示星期天，1表示星期一，以此类推）
                        if (xqj_tmp == 0) {
                            this.xqj = 7;
                            this.week = this.week - 1;
                        } else {
                            this.xqj = xqj_tmp;
                        }
                    }
                },




                /**
                 * @description: 获取位置
                 * @return {*}
                 */
                getlocation() {
                    let that = this;
                    if (navigator.geolocation) {
                        var n = navigator.geolocation.getCurrentPosition(
                            function (res) {
                                console.warn('地理信息(辅助判断位置)', res); // 需要的坐标地址就在res中
                                that.handleGPS(res);
                            },
                            function (err) {
                                console.warn(err)
                                that.position_has_finish = -1;
                            },
                            {
                                enableHighAccuracy: false,
                                timeout: 5000,
                            }
                        );

                    } else {
                        that.position_has_finish = -1;
                    }
                },
                handleGPS(res) {

                    // longitude1 = 103.93858
                    // //，纬度：
                    // latitude1 = 30.75596
                    // // console.log(res.coords.latitude)
                    if (this.position_has_change) {
                        //位置已经被手工修改
                        return;
                    }
                    const options = [
                        {
                            val: ['沙河', '四教'],
                            long: 104.10627,//精度
                            dim: 30.68114,//维度
                            area: 120,//范围
                        },
                        {
                            val: ['沙河', '主楼'],
                            long: 104.10768,//精度
                            dim: 30.67970,//维度
                            area: 100,//范围
                        },
                        {
                            val: ['沙河', '二教'],
                            long: 104.10942,//精度
                            dim: 30.68034,//维度
                            area: 8000,//范围
                        },
                        {
                            val: ['清水河', '立人楼'],
                            long: 103.93890,//精度
                            dim: 30.75506,//维度
                            area: 130,//范围
                        },
                        {
                            val: ['清水河', '经管楼'],
                            long: 103.93902,//精度
                            dim: 30.75504,//维度
                            area: 150,//范围
                        },
                        {
                            val: ['清水河', '学生活动中心'],
                            long: 103.93547,//精度
                            dim: 30.76143,//维度
                            area: 120,//范围
                        },
                        {
                            val: ['清水河', '主楼'],
                            long: 103.93330,//精度
                            dim: 30.75240,//维度
                            area: 250,//范围
                        },
                        {
                            val: ['清水河', '品学楼'],
                            long: 103.93918,//精度
                            dim: 30.75734,//维度
                            area: 40000,//范围
                        },
                    ]
                    let closestOption = null;
                    let minDistance = Infinity;

                    for (const option of options) {
                        const distance = this.calculateDistance(res.coords.longitude, res.coords.latitude, option.long, option.dim);
                        // const distance = this.calculateDistance(longitude1, latitude1, option.long, option.dim);
                        console.log('测距-->', option, distance);
                        if (distance < minDistance && distance * 100000 <= option.area) {
                            minDistance = distance;
                            closestOption = option;
                        }
                    }

                    if (closestOption) {
                        this.building_name = closestOption.val
                        this.position_has_finish = 1;
                    }
                    else {
                        this.position_has_finish = -1;
                    }



                },
                // 计算两点之间的距离（使用简化的计算公式）
                calculateDistance(long1, dim1, long2, dim2) {
                    const dx = long2 - long1;
                    const dy = dim2 - dim1;
                    return Math.sqrt(dx * dx + dy * dy);
                },



                TimeNow() {

                    const currentTime = new Date();
                    const currentHour = currentTime.getHours();
                    const currentMinute = currentTime.getMinutes();

                    const time_calendar = this.time_calendar;

                    let closestTime = null;
                    let closestValue = null;

                    for (let i = 0; i < time_calendar.length; i++) {
                        const startTimeParts = time_calendar[i].startTime.split(':');
                        const startHour = parseInt(startTimeParts[0]);
                        const startMinute = parseInt(startTimeParts[1]);

                        if (currentHour < startHour || (currentHour === startHour && currentMinute < startMinute)) {
                            if (closestTime === null ||
                                (startHour - currentHour) * 60 + (startMinute - currentMinute) < closestTime) {
                                closestTime = (startHour - currentHour) * 60 + (startMinute - currentMinute);
                                closestValue = time_calendar[i].val;
                            }
                        }
                    }
                    // console.log(closestValue)
                    if (closestValue == null) {
                        this.start = 1;
                        this.end = 1 + 1;

                        var date = new Date(this.pickDate);

                        // 将日期加一天
                        date.setDate(date.getDate() + 1);

                        // 将新的日期转换为字符串形式
                        this.pickDate = date.toISOString().slice(0, 10);
                        setTimeout(() => {
                            this.week_xqj_change(2);
                        }, 1000)
                        this.$message('今日教学任务已经结束，查询日期自动设置为明日日期，您可以自行修改');
                        this.jieci_Next = 13;
                        return


                    }
                    else if (closestValue < 12) {

                        this.start = closestValue;
                        this.end = closestValue + 1;
                    }
                    else {
                        this.start = 11;
                        this.end = closestValue + 1;
                    }
                    this.jieci_Next = closestValue
                    this.$message('已成功获取当前日期和最近节次');
                    return

                },
                stopNow() {
                    this.search_has_finish = 3;

                }








            },


        })
    </script>


</body>

</html>